.image-preview-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    width: 70vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}