.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    background-color: rgba(33, 38, 51, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
}