#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  width: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    input {
      width: 12em;
    }
  }
}

.card {
  padding: 2em;
}
